.background-container {
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-heading {
  font-family: Lobster;
  font-size: 50px;
  color: #0f172a;
  text-align: center;
}

.btn-ul {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.items-ul {
  width: 80%;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.failure-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-heading {
  font-family: Bree;
  color: #1e293b;
}
